.serviceblock1 {
    opacity: 0;
    transform: translateX(-10rem);
    /* transform: scale(0.3); */
    transition: all 1s ease-in-out;

}

.serviceblock1:hover {
    transform: scale(1.1);

}



.active1 {
    opacity: 1;
    /* transform: scale(1); */
    transform: translateX(0);
}


@media only screen and (max-width: 800px) {

    .serviceblock1 {
        opacity: 1;
        transform: translateX(0);
        transition: all 1s ease-in-out;
    }

    .active1 {

        transform: translateX(0);

        transition: all 1s ease-in-out;
    }
}